@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Nurito Sans', sans-serif;
	font-weight: 100;
	overflow-x: hidden;
}

html {
	position: relative;
	min-height: 100%;
}

.dropbtn {
	padding: 5px;
	padding-left: 9px;
	text-align: center;
	cursor: pointer;
	color: white;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f6f6f6;
}

/* Links inside the dropdown */
.dropdown-content button {
	cursor: pointer;
	color: black;
	padding: 2px 0 2px 25px;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-bottom: 20px;
	background-color: rgb(1, 62, 102);
}

ul {
	list-style: none;
}

li {
	display: inline-block;
}

.headercontent {
	width: 98%;
	margin: 0 auto;
	display: block;
}

.moblang {
	display: none;
}

.content {
	margin: 0 auto;
	margin-top: 10px;
	padding: 10px;
	padding-bottom: 300px;
	width: 95%;
	height: 100%;
	background-color: white;
}

header {
	width: 100%;
	height: 60px;
	background-color: rgb(1, 62, 102);
}

.moblangsocial {
	display: none;
}

header .hdrlogo img {
	width: 60px;
	height: 40px;
}

header div {
	display: inline-block;
}

header span {
	font-size: 10px;
}

.CONF_header span {
	font-weight: 100;
	color: rgb(255, 213, 1);
	font-size: 20px;
}

.CONF_header {
	margin-top: 10px;
	margin-left: 10px;
}

.hdrmenu a {
	font-weight: 500;
	color: rgb(255, 213, 1);
	text-decoration: none;
}

.hdrmenu a:hover {
	border-bottom: 2px solid rgb(255, 213, 1);
}

.hdrlogo {
	float: left;
	margin-top: 10px;
}

.hdrmenu ul {
	list-style: none;
}

.hdrmenu {
	margin-top: 20px;
	margin-left: 25px;
}

.hdrmenu li {
	margin-left: 25px;
	display: inline-block;
}

.hdrdates {
	margin-left: 15px;
	color: rgb(255, 213, 1);
	display: block;
}

.hdrdates span {
	font-size: 15px;
}

.hdrmenu li:first-child {
	margin: 0;
}

#ru {
	border: 0;
	padding: 0;
	margin: 5;
	background: url('/app/content/images/Russia.png') no-repeat;
	width: 30px;
	height: 30px;
}

#gb {
	border: 0;
	padding: 0;
	margin: 5;
	background: url('/app/content/images/GreatBritain.png') no-repeat;
	width: 30px;
	height: 30px;
}

#ua {
	border: 0;
	padding: 0;
	margin: 5;
	background: url('/app/content/images/Ukraine.png') no-repeat;
	width: 30px;
	height: 30px;
}

#gb:hover, #ru:hover, #ua:hover {
	cursor: pointer;
}

header .lang {
	float: right;
	margin-top: 8px;
}

footer div {
	display: inline-block;
}

.footercontent {
	width: 98%;
	margin: 0 auto;
	display: block;
}

footer .contacts {
	margin-top: 30px;
	color: rgb(255, 213, 1);
}

footer .social a {
	color: rgb(224, 190, 15);
	font-size: 30px;
	padding-left: 2px;
}

footer .social {
	float: right;
	margin-top: 22px;
}

#mobbr {
	display: none;
}

@media screen and (max-width:1200px) {
	.content {
		height: 1500px;
		margin-top: 0px;
		padding: 0;
		padding-bottom: 100px;
	}
	.footercontent {
		width: 90%;
	}
	#ua {
		margin-left: 0;
	}
	#mobbr {
		display: inline;
	}
	footer div {
		display: block;
	}
	footer .moblang {
		display: inline-block;
	}
	header {
		height: 60px;
	}
	.lang {
		display: none;
	}
	footer .contacts {
		margin-right: 20px;
	}
	footer .social {
		margin: 0;
		display: inline-block;
		position: relative;
		bottom: 0;
		top: 5px;
		right: 20px;
	}
	.CONF_header {
		font-size: 10px;
	}
}

@media screen and (max-width:500px) {
	.content {
		height: 2000px;
		margin-top: 0px;
		padding: 0;
		padding-bottom: 100px;
	}
	.footercontent {
		width: 90%;
	}
	#ua {
		margin-left: 0;
	}
	#mobbr {
		display: inline;
	}
	footer div {
		display: block;
	}
	footer .moblang {
		display: inline-block;
	}
	header {
		height: 60px;
	}
	.lang {
		display: none;
	}
	footer .contacts {
		margin-right: 20px;
	}
	footer .social {
		margin: 0;
		display: inline-block;
		position: relative;
		bottom: 0;
		top: 5px;
		right: 20px;
	}
	.CONF_header {
		font-size: 10px;
	}
}
